.attribution {
	font-size: 10px;
	text-align: center;
}
.attribution a {
	color: hsl(200, 44%, 44%);
}

body {
	background-color: hsl(200, 44%, 88%);
	font-size: 10px;
	font-family: 'Outfit';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
	max-width: 10rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

img {
	width: 100%;
	border-radius: 0rem;
	max-height: 10rem;
	max-width: 10rem;
}
h1 {
	font-size: 1rem;
	font-family: 'Outfit';
	font-weight: 800;
	color: hsl(200, 44%, 22%);
	text-align: center;
	width: 100%;
}

p {
	font-size: 1rem;
	font-family: 'Outfit';
	font-weight: 400;
	color: hsl(200, 10%, 50%);
	text-align: center;
}
